#bottom-nav_button-qr {
    position: fixed;
    bottom: 3vh;
    left: calc(50vw - 6vh);
    margin: 0;
    padding: 0;
    height: 12vh;
    width: 12vh;
    border-radius: 6vh;
    background-color: #f1c40e;
    background-image: linear-gradient(to top, #34495e 50%, transparent 50%);
    background-size: 100% 200%;
    background-position: top;
    transition: background-image 0.3s ease, 0.6s;
    border: 1px solid #34495e;;
    outline: none;
    z-index: 3;
}

#bottom-nav_button-qr img {
    position: absolute;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    top: calc(50% - 3.75vh);
    left: calc(50% - 3.75vh);
    width: 7.5vh;
}

#bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
    background-color: #34495e;
    height: 9vh;
    width: 100vw;
}
#bottom-nav table {
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: inherit;
    width: inherit;
    border-top: #f1c40e 1px solid;
}
#nav_options {
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 9vh;
    width: 100vw;
}
#nav_options td {
    width: 50%;
    height: 9vh;
    margin: 0;
    padding: 0;
}

.bottom-nav_button-opt {
    margin: 0;
    padding: 0;
    width: 15vw;
    height: 9vh;
    background-color: transparent;
    border: none;
    outline: none;
}
#bottom-nav_button-H {
    position: relative;
    left: calc(40% - 7.5vw);
}
#bottom-nav_button-C {
    position: relative;
    left: calc(60% - 7.5vw);
}
.bottom-nav_button-opt img {
    position: absolute;
    top: calc(35% - 2.25vh);
    left: calc(50% - 2.25vh);
    width: 4.5vh;
    transition: 0.3s;
}

#homeF {opacity: 1;}
#homeFp {opacity: 1;}
#homeE {opacity: 0; top: calc(45% - 2.25vh);}
#searchF {opacity: 0;}
#searchFp {top: 7vh;}
#searchE {opacity: 1; top: calc(45% - 2.25vh);}

.button-opt_info {
    position: relative;
    top: 2.7vh;
    margin: 0;
    padding: 0;
    color: #f1c40e;
    font-size: 1rem;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    transition: 0.3s ease-out;
}

@media screen and (orientation: landscape) {
    #bottom-nav_button-qr {
        display:none;
    }

    #bottom-nav_button-qr img {
        display:none;
    }
    #bottom-nav {
        display:none;
    }
    #bottom-nav table {
        display:none;
    }
    #nav_options {
        display:none;
    }
    #nav_options td {
        display:none;
    }
    
    .bottom-nav_button-opt {
        display:none;
    }
    #bottom-nav_button-H {
        display:none;
    }
    #bottom-nav_button-C {
        display:none;
    }
    .bottom-nav_button-opt img {
        display:none;
    }
    
    #homeF {display:none;}
    #homeFp {display:none;}
    #homeE {display:none;}
    #searchF {display:none;}
    #searchFp {display:none;}
    #searchE {display:none;}
    
    .button-opt_info {
        display:none;
    }
    
}
