@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400&display=swap');

body {
    background-color: #34495e;
    margin: 0;
    font-family: "Josefin Sans";
}

p.intestazione {
    color: #f1c40e;
    font-family: "Josefin Sans";
    font-size: 1.5rem;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding-top: 0.5rem;
}

article.reperto {
    background-color: #1d2a36;
    color: #f1c40e;
    width: 90vw;
    margin: 5vw;
    box-sizing: border-box;
    padding-bottom: 1rem;
}
article.reperto:last-of-type {
    margin-bottom: 17vh;
}

article.reperto .informazioniReperto_gridcontainer {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-areas:
        "titolo titolo"
        "foto   data"
        "foto   autore"
        "foto   sezione";
    grid-gap: 5px;
    grid-column-gap: 15px;
    box-sizing: border-box;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem;
}

article.reperto .imgReperto_container {
    grid-area: foto;
    width: 100%;
}
article.reperto img {
    max-width: 100%;
}

article.reperto .titoloReperto {
    grid-area: titolo;
    font-weight: bold;
    font-size: 1.4rem;
    margin: 0;
    text-align: center;
}

article.reperto .infoDataReperto {
    grid-area: data;
}

article.reperto .infoAutoreReperto {
    grid-area: autore;
}

article.reperto .infoSezioneReperto {
    grid-area: sezione;
}

article.reperto .iconaInfoRepertoContainer {
    height: 100%;
}
article.reperto .infoReperto {
    max-width: 100%;
    height: 1rem;
    display: grid;
    grid-template-columns: 20px auto;
    align-items: center;
    grid-gap: 5px;
}

article.reperto div span:last-child {
    font-family: "Josefin Sans";
    font-weight: 300;
}

article.reperto > button.leggiDiPiu {
    width: 50%;
    margin: 0 auto;
    display: block;
    height: 2rem;
    border: 0;
    border-radius: 1rem;
    background-color: #f1c40e;
    color: #34495e;
    font-family: "Josefin Sans";
    font-weight: bold;
    transition: all 0.5s ease;
}
article.reperto > button.leggiDiPiu:focus {
    outline: none;
    border: 0;
}

article.reperto > button.bottoneCliccato {
    width: 100% !important;
    border-radius: 1rem !important;
}

@media screen and (orientation: landscape) {
    
    body {
        background-color: #34495e;
        margin: 0;
        font-family: "Josefin Sans";
    }

    div#lista_reperti{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap:15px;
        max-width: 1000px;
        padding: 1rem 2rem 1rem 1rem;
        margin: 0 auto;
    }

    p.intestazione {
        color: #f1c40e;
        font-family: "Josefin Sans";
        font-size: 1.5rem;
        text-align: center;
        margin: 0 auto;
        padding-top: 0.5rem;
    }

    article.reperto {
        background-color: #1d2a36;
        color: #f1c40e;
        margin: 0vw;
        width: 100%;
        box-sizing: border-box;
        padding-bottom: 1rem;
        text-align: center;
    }

    article.reperto:last-of-type {
        margin-bottom: 17vh;
    }

    article.reperto .informazioniReperto_gridcontainer {
        display: flex;
        flex-direction: column;
        gap: 2vh;
    }

    article.reperto .titoloReperto {
        font-weight: bold;
        font-size: 1.4rem;
        margin: 0;
        text-align: center;
    }

    article.reperto .imgReperto_container {
        width: 100%;
    }
    article.reperto .imgReperto{
        width: 13vw;
    }

    article.reperto img {
        max-width: 100%;
    }

    article.reperto .iconaInfoRepertoContainer {
        height: 100%;
    }
    article.reperto .infoReperto {
        max-width: 100%;
        height: 1rem;
        display: grid;
        grid-template-columns: 20px auto;
        align-items: center;
    }

    article.reperto div span:last-child {
        font-family: "Josefin Sans";
        font-weight: 300;
    }

    article.reperto > button.leggiDiPiu {
        width: 50%;
        margin: 0 auto;
        display: block;
        height: 2rem;
        border: 0;
        border-radius: 1rem;
        background-color: #f1c40e;
        color: #34495e;
        font-family: "Josefin Sans";
        font-weight: bold;
        transition: all 0.5s ease;
    }
    article.reperto > button.leggiDiPiu:focus {
        outline: none;
        border: 0;
    }

    article.reperto > button.bottoneCliccato {
        width: 100% !important;
        border-radius: 1rem !important;
    }

}
