@font-face {
  font-family: "myFirstFont";
  src: url("./res/josefinSans/JosefinSans-Regular.ttf") format("truetype");
}

* {
  font-family: "Josefin Sans";
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

nav#navbar_topNav {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  width: 100%;
  height: 9vh;
  box-sizing: border-box;
  background-color: rgba(241, 196, 14, 1); /*Sfondo giallo trasparente*/
  z-index: 4;
  position: fixed;
  top: 0;
  transition: all 0.5s ease;
}

#navbar_divTitoloTopNav {
  display: flex;
  align-items: center;
  margin-top: 1vh;
}

#navbar_logoTopNav {
  width: 6.5vh;
  cursor: pointer;
  position: absolute;
  display: block;
  -webkit-filter: drop-shadow(0px 0px 0px #000);
  filter: drop-shadow(0px 0px 1px #000);
}

#navbar_buttonTopNavSearch {
  display: none;
}

.navbar_divIconeTopNav {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar_iconeTopNav {
  cursor: pointer;
  width: 9vh;
}

#hamburgerButton {
  width: 4vh;
}

#navbar_titoloTopNav {
  font-size: 4vh;
  margin: 0;
  color: #34495e;
  letter-spacing: 0.8vw;
  text-align: center;
}

#navbar_mySidenav {
  background-color: #f1c40e;
  transition: all 0.5s ease;
  width: 65vw;
  height: 91vh;
  position: fixed;
  top: 9vh;
  left: -65vw;
  z-index: 101;
}

.navbar_divSelezioniSidenav {
  display: grid;
  grid-template-columns: 20vw 45vw;
  width: 65vw;
  height: 7vh;
}

.navbar_divIconeSelezioniSidenav {
  width: 20vw;
  align-items: center;
  display: flex;
  justify-content: center;
}

.navbar_iconeSelezioniSidenav {
  width: 4vh;
  padding-left: 2vw;
}

.navbar_divLinkSelezioniSidebar {
  align-items: center;
  display: flex;
  width: 45vw;
}

.navbar_linkSelezioniSidenav {
  font-size: 5vw;
  color: #34495e;
}

#divOscuramento {
  position: fixed;
  z-index: -4;
  opacity: 0;
  top: 9vh;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: black;
  transition: all 0.5s ease;
}

@media screen and (orientation: landscape) {
  #navbar_titoloTopNav {
    font-size: 4vh;
    margin: 0;
    text-align: center;
    color: #34495e;
    letter-spacing: 0.8vw;
  }

  #navbar_divTitoloTopNav {
    display: flex;
    align-items: center;
    margin: 8px auto 1vh auto;
    cursor: pointer;
  }

  #navbar_logoTopNav {
    width: 6.5vh;
    cursor: pointer;
    display: none;
  }

  #navbar_buttonTopNavSearch {
    width: 7vw;
    height: 7.25vh;
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
  }

  #navbar_buttonTopNavSearch img {
    display: block;
    position: absolute;
    top: calc(35% - 2.3vh);
    left: calc(50% - 3.5vh);
    width: 6.8vh;
    transition: 0.6s;
  }

  #navbar_mySidenav {
    background-color: #f1c40e;
    transition: all 0.7s ease;
    width: 100vw;
    height: auto;
    top: -100vh;
    left: 0vw;
    z-index: 3;
  }

  .navbar_divSelezioniSidenav {
    display: grid;
    grid-template-columns: 9vw 30vw;
    width: 30vw;
    height: auto;
    margin: 10px auto;
  }

  .navbar_divIconeSelezioniSidenav {
    width: 9vw;
    height: 8vh;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .navbar_iconeSelezioniSidenav {
    width: 6vh;
    padding-left: 2vw;
    cursor: pointer;
  }

  .navbar_divLinkSelezioniSidebar {
    align-items: center;
    display: flex;
    width: 30vw;
    height: 9.25vh;
  }

  .navbar_linkSelezioniSidenav {
    font-size: 3vw;
    color: #34495e;
    cursor: pointer;
  }

  /*Viene effettuata la modifica per gli elementi contenuti nel divSelezioniSidenav*/
  .navbar_divSelezioniSidenav:hover > * {
    transition: transform 0.6s ease;
    transform: scale(1.05);
    font-weight: bold;
  }

  #divOscuramento {
    position: fixed;
    z-index: -4;
    opacity: 0;
    top: 9vh;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: black;
    transition: all 0.2s ease;
  }
}
