canvas {
	display: none;
}

canvas img{
	display: none;
}

.inquadratura{
  position: fixed;
  padding: 0;
  margin: 0;
  width: 5vw;
  height: 5vw;
}

#inquadratura_tl{
  border-left: 3px solid #f1c40e;
  border-top: 3px solid #f1c40e;
  left: 20%;
  top: 33vh;
}

#inquadratura_tr{
  border-right: 3px solid #f1c40e;
  border-top: 3px solid #f1c40e;
  left: calc(80% - 5vw);
  top: 33vh;
}

#inquadratura_bl{
  border-left: 3px solid #f1c40e;
  border-bottom: 3px solid #f1c40e;
  left: 20%;
  top: calc(33vh + 60vw - 5vw);
}

#inquadratura_br{
  border-right: 3px solid #f1c40e;
  border-bottom: 3px solid #f1c40e;
  left: calc(80% - 5vw);
  top: calc(33vh + 60vw - 5vw);
}

#contenitore_video{
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

#video{
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

#img_scattata{
  margin: 0;
  padding: 0;
  height: 0;
  width: 0;
  display: none;
}

#takePhotoButton {
  position: fixed;
  left: calc(50vw - 6vh);
  bottom: 3vh;
  margin: 0;
  padding: 0;
  height: 12vh;
  width: 12vh;
  border-radius: 6vh;
  background-color: #f1c40e;
  background-position: top;
  border: none;
  outline: none;
  z-index: 5;
  display: none;
}

#imgPhoto{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    top: calc(50% - 3.75vh);
    left: calc(50% - 3.75vh);
    width: 7.5vh;
    position: absolute;
}

#istruzioni{
  text-align: center;
  color: #f1c40e;
  width: 100%;
  height: 13vh;
  font-size: 5vw;
}

#istruzioni span{
  position: relative;
  width: 100%;
  top: 3vh;
}

@media screen and (orientation: landscape) {

  #takePhotoButton {
    display: none;
  }

}