#pagina_reperto_principale {
	margin: 0;
	background-color: #34495e;
	box-sizing: border-box;
	position: fixed;
	top: 150vh;
	transition: all 0.75s ease;
	z-index: 500;
	overflow-y: scroll;
	height: 100vh;
	width: 100vw;
}

#rep_titolo {
  text-align: center;
  padding-bottom: 0.5rem;
  width: 100%;
  box-sizing: border-box;
  font-size: 2rem;
  color: #f1c40e;
  padding: 2rem;
  word-wrap: break-word;
}

.rep_codice {
	color: white;
	font-size: 1rem;
	text-align: right;
	width: 100%;
	box-sizing: border-box;
	margin-top: 2vh;
	padding-right: 5vw;
}

#rep_codice {margin-top: 0.5vh;}

.rep_descrizioneTitle {
	color: #f1c40e;
	font-size: 1.3rem;
	padding: 2vh 0 0 5vw;
}

.rep_descrizione {color: white; padding: 1vh 5vw 2vh 5vw;}

#rep_dimensioni {
	text-align: center;
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 5%;
	grid-row-gap: 15%;
	grid-template-rows: 4rem;
	color: white;
	margin: 5% 5% 5% 5%;
}

#rep_dimensioni img[src*="svg"] {
	height: 1.5rem;
}

#rep_dimensioni p.indicazione {
  text-align: center;
	margin-bottom: 0.7em;
	font-size: 0.7rem;
}

#rep_dimensioni p.valoreMisura {
	text-align: center;
	margin-top: 0.5em;
	font-size: 1rem;
}

i.fas {text-align: center;}

.rep_separe {color: #f1c40e; border-bottom: 4px double white;}

.rep_mySlides {display:none; margin-top: 3vh;}

button.rep_freccia {
	width: 15%;
	height: 5vh;
	font-size: 2rem;
	background-color: #34495e;
	color: #f1c40e;
	border: none;
}

button#rep_but_left {float: left;}

button#rep_but_right {float: right;/*transform: rotate(180deg);*/}

button.rep_freccia > img {
	width: 100%;
	max-width: 40px;
}

#container_immagini {display: none;}
#show_immagini {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10vh;
}

#immagine_grande {
	width: 90vw;
	max-width: 90vw;
	position: fixed;
	top: calc((100vh - 90vw) / 2);
	left: 5vw;
	transform: scale(0);
	transition: all 0.5s ease;
	z-index: 600;
}

footer#chiudi_pagina_reperto {
	height: 6vh;
	position: fixed;
	bottom: 0;
	z-index: 500;
	align-items: center;
    display: flex;
    justify-content: center;
    background-color: #f1c40e;
	width: 100%;
	left: 150vw;
	transition: all 0.75s ease;
}

footer#chiudi_pagina_reperto img {
	width: 4vh;
}


@media screen and (orientation: landscape) {

	#pagina_reperto_principale {
		margin: 0;
		background-color: #34495e;
		box-sizing: border-box;
		position: fixed;
		top: 150vh;
		transition: all 0.75s ease;
		z-index: 500;
		overflow-y: scroll;
		height: 100vh;
		width: 100vw;
	}
	
	#rep_titolo {
	  text-align: center;
	  padding-bottom: 0.5rem;
	  width: 100%;
	  box-sizing: border-box;
	  font-size: 2rem;
	  color: #f1c40e;
	  padding: 2rem;
	  word-wrap: break-word;
	}
	
	.rep_codice {
		color: white;
		font-size: 1rem;
		text-align: right;
		width: 100%;
		box-sizing: border-box;
		margin-top: 2vh;
		padding-right: 5vw;
	}
	
	#rep_codice {margin-top: 0.5vh;}
	
	.rep_descrizioneTitle {
		color: #f1c40e;
		font-size: 1.3rem;
		padding: 2vh 0 0 5vw;
	}
	
	.rep_descrizione {color: white; padding: 1vh 5vw 2vh 5vw;}
	
	#rep_dimensioni {
		text-align: center;
		display: grid;
		grid-template-columns: auto auto auto auto;
		grid-gap: 5%;
		grid-row-gap: 15%;
		grid-template-rows: 4rem;
		color: white;
		margin: 5% 5% 5% 5%;
	}
	
	#rep_dimensioni img[src*="svg"] {
		height: 1.5rem;
	}
	
	#rep_dimensioni p.indicazione {
	  text-align: center;
		margin-bottom: 0.7em;
		font-size: 0.7rem;
	}
	
	#rep_dimensioni p.valoreMisura {
		text-align: center;
		margin-top: 0.5em;
		font-size: 1rem;
	}
	
	i.fas {text-align: center;}
	
	.rep_separe {color: #f1c40e; border-bottom: 4px double white;}
	
	.rep_mySlides {display:none; margin-top: 3vh;}
	
	button.rep_freccia {
		width: 15%;
		height: 5vh;
		font-size: 2rem;
		background-color: #34495e;
		color: #f1c40e;
		border: none;
	}
	
	button#rep_but_left {float: left;}
	
	button#rep_but_right {float: right;/*transform: rotate(180deg);*/}
	
	button.rep_freccia > img {
		width: 100%;
		max-width: 40px;
	}
	
	#container_immagini {display: none;}
	#show_immagini {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 10vh;
	}
	
	#immagine_grande {
		width: 100vw;
		max-width: 100vw;
		position: fixed;
		top: calc((100vh - 90vw) / 2);
		left: 5vw;
		transform: scale(0);
		transition: all 0.5s ease;
		z-index: 600s;
	}
	
	footer#chiudi_pagina_reperto {
		height: 6vh;
		position: fixed;
		bottom: 0;
		z-index: 500;
		align-items: center;
		display: flex;
		justify-content: center;
		background-color: #f1c40e;
		width: 100%;
		left: 150vw;
		transition: all 0.75s ease;
	}
	
	footer#chiudi_pagina_reperto img {
		width: 4vh;
	}
	
}