/*blu = #34495e, giallo = #f1c40e*/
#finestraSegnalazioneBug {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: #f1c40e;
  position: fixed;
  top: -100vh;
  transition: all 0.5s ease;
  z-index: 200;
}

#segnalaUnBug_divTitolo {
  text-align: center;
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

#segnalaUnBug_titolo {
  font-size: 10vw;
  color: #34495e;
}

#segnalaUnBug_divForm {
  height: calc(100% - 6vh - 15vh);;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-gap: 25px;
  align-items: baseline;
  margin-top: 7vh;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.segnalaUnBug_titoloDivForm {
  font-size: 5vw;
  color: #34495e;
}

input[type=text], textarea {
  height: 5vh;
  width: 80vw;
  padding: 2vw 2vw;
  display: inline-block;
  border: 0.5vw solid #ccc;
  border-radius: 4vw;
  box-sizing: border-box;
  font-size: 3vw;
}

input[type=text]:focus, textarea:focus, button:focus {
    outline: none;
}

#segnalaUnBug_tastoInvia {
  width: 50%;
  margin: 0 auto;
  height: 5vh;
  background-color: #34495e;
  color: #f1c40e;
  padding: 2vw 2vw;
  border: none;
  border-radius: 4vw;
  cursor: pointer;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 3vw;
}

textarea {
  max-width: 80vw;
  max-height: 23vh;
  height: 23vh;
}

.segnalaUnBug_altriInput {
  margin-top: 1vh;
}

input:focus::placeholder, textarea:focus::placeholder {
  color: transparent;
  font-size: 3vw;
}

#segnalaUnBug_footer {
  position: absolute;
  bottom: 0;
  height: 6vh;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #34495e;
}

#segnalaUnBug_iconaFooter {
  width: 4vh;
}

@media screen and (orientation: landscape) {

  #finestraSegnalazioneBug {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #f1c40e;
    position: fixed;
    top: -500vh;
    transition: all 0.7s ease;
    z-index: 200;
  }

  
  #segnalaUnBug_divTitolo {
    text-align: center;
    height: 8vh;
    width: 100%;
    margin-bottom: 3rem;
  }

  #segnalaUnBug_titolo {
    text-align: center;
    font-size: 3rem;
    color: #34495e;
  }

  #segnalaUnBug_divForm {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "credenziali email"
                         "invia       invia";
  }
  
  #credenziali {
    grid-area: credenziali;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #inviaemail{
    grid-area: email;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .segnalaUnBug_titoloDivForm {
    font-size: 2rem; 
    color: #34495e;
    align-items: center;
    margin-left: 3vw;
  }
  
  input[type=text], textarea {
    height: calc(4px + 20px + 1.5rem);
    width: 100%;
    padding: 10px;
    display: block;
    border: 2px solid #ccc;
    border-radius: 1rem;
    box-sizing: border-box;
    font-size: 1.5rem;
    margin-top: 2vw;
  }

  input[type=text]:focus, textarea:focus, button:focus {
      outline: none;
  }
  
  #invia{
    grid-area: invia;
  }

  #testoEmail{
    margin-top: 2vw;
  }

  #segnalaUnBug_tastoInvia {
    height: calc(20px + 1.5rem); /*4px = bordi, 20px = padding*/
    background-color: #34495e;
    color: #f1c40e;
    padding: 10px 0;
    border: none;
    border-radius: calc((20px + 1.5rem) / 2);
    cursor: pointer;
    text-align: center;
    font-size: 1.5rem;
  }
  
  textarea {
    max-width: 80vw;
    max-height: 23vh;
    height: 23vh;
    margin-top: 2vw;
  }
  
  .segnalaUnBug_altriInput {
    margin-top: 1vh;
  }
  
  input:focus::placeholder, textarea:focus::placeholder {
    color: transparent;
    font-size: 3vw;
  }
  
  #segnalaUnBug_footer {
    position: absolute;
    bottom: 0;
    height: 6vh;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #34495e;
  }
  
  #segnalaUnBug_iconaFooter {
    width: 4vh;
  }*/

}